body {
  background: url(../images/body-bg.gif) repeat 0 0;
  color: #333;
	font-size: 12px;
  font-family: Georgia, Arial, Helvetica, Sans-Serif;
  line-height: 20px;
}

.wrapper {
	max-width: 1286px;
	width: 76%;
	border: 1px solid #e8e8e8;
	margin: 0 auto;
	background-color: #fff;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.find {
	color: #f80002;
	&:hover, &focus {
		text-decoration: none;
	}
	&visited {
		color: #f80002;
	}
}